<div class="navbar">
    <div class="leftnav"><img src="../../assets/Logo-2.png" alt="">
    </div>
    <a class="Courses" routerLink="/courses-page">COURSES</a>
    <a class="Wishlist" routerLink="/wishlist-page">MY WISHLIST</a>
    <a class="a-cart" routerLink="/cart-page"><img class="cart-logo" src="../../assets/shopping-cart.svg" alt=""></a>
    <a class="a-profile" routerLink="/profile-page"><img class="profile-logo" src=".../../assets/noun_profile_2068277.svg" alt=""></a>
    <!-- <a routerLink="/about-page"></a> -->
</div>
<!-- <div class="black-bar">
    <div class="outer-profile">
        <p class="profile">Discover latest Courses on React</p>
    </div>
    <img class="react-logo" src="/asset/Mask Group 1.png" alt="">
    <div class="blank"></div>
</div> -->
<router-outlet></router-outlet>
<div>

</div>