.black-bar {
    display: grid;
    grid-template-columns: 8% 27% 55% 10%;
}

.outer-profile {
    grid-column-start: 2;
    background-color: black;
    margin-top: 5.5%;
    p {
        margin-top: 8%;
    }
}

.path {
    display: flex;
    flex-direction: row;
}

.profile {
    background-color: black;
    margin-top: 15%;
    margin-left: 10%;
    font: normal normal 600 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.react-logo {
    grid-column-start: 3;
    grid-row-start: 0;
    background-color: black;
    width: auto;
    margin-top: 2.6%;
}

.des {
    width: 1280px;
    height: 200px;
    background-color: black;
    p {
        position: relative;
        top: 10px;
        margin-left: 20px;
        font: normal normal 600 20px/29px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .small {
        text-align: left;
        font: normal normal 300 15px/22px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .name {
        text-align: left;
        font: normal normal 300 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #FF9271;
        opacity: 1;
    }
    .taggs {
        background: 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
    }
    .video {
        position: relative;
        left: 800px;
        bottom: 200px;
    }
}

.below {
    display: flex;
    flex-direction: row;
    .details {
        display: flex;
        flex-direction: column;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E0E0E0;
        opacity: 1;
        margin-top: 80px;
        margin-left: 50px;
        width: 420px;
        height: 220px;
        padding: 10px;
        b {
            font: normal normal bold 30px/37px Montserrat;
            letter-spacing: 0px;
            color: #080808;
            opacity: 1;
        }
        s {
            text-decoration: line-through;
            font: normal normal 300 20px/24px Montserrat;
            letter-spacing: 0px;
            color: #080808;
            opacity: 1;
        }
        .timer {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            p {
                margin-top: 10px;
                padding: 10px;
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background: 0% 0% no-repeat padding-box;
            opacity: 1;
            input {
                color: white;
                background-color: #FF6738;
                border: 0;
            }
        }
    }
}

.lorem {
    width: 700px;
    height: 200px;
    margin-left: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    opacity: 1;
    margin-top: 20px;
    b {
        font: normal normal 600 16px/22px Montserrat;
        letter-spacing: 0px;
        color: #4E4E4E;
        opacity: 1;
        padding: 10px;
    }
    p {
        font: normal normal 300 14px/22px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        padding: 10px;
    }
}