<div>
    <div class="black-bar">
        <div class="outer-profile">
            <p class="profile">Discover latest Courses on React</p>
        </div>
        <img class="react-logo" src="../../assets/Mask Group 1.png" alt="">
        <div class="blank"></div>
    </div>
    <br>
    <div class="below">
        <p>All Courses</p>
        <div class="filter">
            <a *ngIf="flag" (click)="flag = !flag" style="cursor: pointer;"><img src="../../assets/Group 71.svg" alt=""></a>
            <a *ngIf="!flag" (click)="flag = !flag" style="cursor: pointer;"> <img src="../../assets/Group 71 (1).svg" alt="Courses"></a>
            <button (click)="ascendic()" id="high" *ngIf="!flag" type="button" class="btn btn-light">HIGH TO LOW</button>
            <button (click)="descendic()" id="low" *ngIf="!flag" type="button" class="btn btn-light">LOW TO HIGH</button>
        </div>

        <div class="search">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Search Courses">
        </div>


    </div>
    <div class="foot">
        <div class="empty">

        </div>
        <div id="courses-template">
            <!-- <button type="button" class="btn btn-dark" (click)="onclick()">Dark</button> -->

            <!-- <ul *ngFor="let c of courses">
                <li> {{c.id}}</li>
            </ul> -->

            <div class="react" *ngFor="let c of courses | paginate: { itemsPerPage: 4, currentPage: p }| filter:searchText">
                <div class="grey-box"></div>
                <div class="three">
                    <strong>
                      {{c.courseDescription}}
                  </strong>
                    <div>
                        <div *ngFor="let i of c.tags">
                            <p>{{ i }}</p>
                        </div>
                    </div>


                </div>
                <p class="joseph">
                    {{c.courseCreator}}
                </p>
                <div class="rest">

                    <a class="star" *ngIf=(!exists(c.id)) (click)="onWish(c)" style="cursor: pointer;"><img src="../../assets/Path 28.svg"></a>


                    <a *ngIf=(exists(c.id)) class="star" (click)="onDel(c)" style="cursor: pointer;"><img src="../../assets/Path 28-4.svg"></a>



                    <b>{{c.price - (c.price*c.discount)/100}}</b>

                    <p><s>{{c.price}}</s> </p>
                    <input type="button" class="Add" value="ADD TO CART" (click)="onclick(c)">
                    <a class="arrow" routerLink="/courses-page/about-page" (click)="onabout(c)"><img src="../../assets/Path 20.svg"></a>
                </div>
            </div>
            <pagination-controls class="page" (pageChange)="p = $event" previousLabel="" nextLabel="" [autoHide]=true [directionLinks]=false></pagination-controls>
            <!-- <div class="fotter">
                <ul class="pagination pagination-sm">
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">1</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </div> -->
        </div>
        <div class="cart">
            <!-- <p>YOUR CART DETAILS</p>
            <hr class="rule" /> -->
            <!-- <app-cart></app-cart> -->
            <app-smallcart></app-smallcart>

        </div>
    </div>

</div>