<div class="foot">
    <p>YOUR CART DETAILS</p>
    <p class="cart-top" *ngIf="carry1.length === 0">Your cart is empty right now. Please add courses in the cart from the list</p>
    <div class="cart" *ngFor="let item of carry1; let i = index">

        <hr class="rule" />
        <div class="middle">
            <div class="grey-box"></div>
            <strong>{{item.courseDescription}}</strong>

        </div>
        <div class="price">
            <b>{{item.price}}</b>
        </div>
        <hr class="rule" />


    </div>
    <div class="cart-end">
        <hr class="ruler">
        <p>Total Cart Value</p>
        <div class="rest">

            <strong>{{sum}}</strong>
            <p class="check"> <a routerLink="cart-page">Go to checkout</a> </p>
        </div>

    </div>
</div>