<div class="black-bar">
    <div class="outer-profile">
        <p class="profile">Shopping Cart</p>
    </div>
    <img class="react-logo" src="/asset/Mask Group 1.png" alt="">
    <div class="blank"></div>
</div>
<!-- <button type="button" class="btn btn-dark" (click)="onclick1()">Dark</button> -->
<div class="below">
    <p class="twocourses">{{carry1.length}} Courses in Cart</p>
</div>
<div class="foot">
    <div class="empty">

    </div>
    <div class="course-template">
        <div class="upper">
            <div class="react" *ngFor="let item of carry1 | paginate: { itemsPerPage: 4, currentPage: p}; let i = index  ">
                <div class="grey-box">
                </div>
                <div class="two">
                    <strong>{{item.courseDescription}}</strong>
                    <p>{{item.courseCreator}}</p>

                </div>
                <div class="spa">
                </div>
                <div class="del">
                    <a (click)="onwish(item)" style="cursor: pointer;">
                        <p> Move to Wishlist</p>
                    </a>
                    <b>{{item.price}}</b>
                    <a class="delicon" (click)="ondel(item)" style="cursor: pointer;"><img src="../../assets/noun_Delete_3715928.svg" alt=""></a>
                </div>

            </div>
            <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" [autoHide]=true [directionLinks]=false></pagination-controls>
        </div>

        <div class="fotter">
            <div class="rec-cou">
                <p>Recommended Courses</p>
            </div>
            <app-cartwish></app-cartwish>

            <div class="space">

            </div>
        </div>


    </div>
    <div class="cart">

        <p>Total Amount</p>
        <b>{{sum}}</b>
        <input type="button" value="CHECKOUT" (click)="oncheckout()">

    </div>
</div>