<div id="courses-template">
    <!-- <button type="button" class="btn btn-dark" (click)="onclick()">Dark</button> -->

    <!-- <ul *ngFor="let c of courses">
    <li> {{c.id}}</li>
</ul> -->

    <div class="react" *ngFor="let c of wish | paginate: { itemsPerPage: 4, currentPage: p }">
        <div class="grey-box"></div>
        <div class="three">
            <strong>
          {{c.courseDescription}}
      </strong>
            <div class="taggs" *ngFor="let i of c.tags">
                {{ i }}
            </div>

        </div>
        <p class="joseph">
            {{c.courseCreator}}
        </p>
        <div class="rest">
            <div class="rest">
                <!-- <a class="star" (click)="onwish(c)" style="cursor: pointer;"><img src="../../assets/Path 28.svg" alt="" class=""></a> -->
                <b>{{c.price - (c.price*c.discount)/100}}</b>

                <p><s>{{c.price}}</s> </p>
                <input type="button" class="Add" value="ADD TO CART" (click)="onclick1(c)">
                <a class="delicon" (click)="ondel(c)" style="cursor: pointer;"><img src="../../assets/noun_Delete_3715928.svg" alt=""></a>
                <a class="arrow" routerLink="about-page" (click)="onabout(c)"><img src="../../assets/Path 20.svg"></a>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" [autoHide]=true [directionLinks]=false></pagination-controls>
    <!-- <div class="fotter">
    <ul class="pagination pagination-sm">
        <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</div> -->
</div>